h1 {
    font-family: "Arial", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#para1 {

  
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }

  .hide-me {
      list-style: none;
      height: 0;
  }

  body, html {
    height: 100%;
  }
  
  img {
    background-image: url("img/analytics-3088958_1920.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
/* 
  img {
    background-image: url("img/code-1839406_1920.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  } */